
/* Geral */
body {
	background-color: #000;
	margin: 0;
	font: 14px Georgia;
	box-sizing: border-box;
	user-select: none;
}
#container {
	background-color: #fff;
	max-width: 480px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
#cena {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden auto;
}
#menu {
	min-height: 50px;
	display: flex;
	border-top: 3px solid #000;
}
#menu div {
	cursor: pointer;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
#menu div.ativo {
	text-decoration: underline solid #00DCFF 4px;
}
.botao {
	border: 1px solid #000;
	box-shadow: 5px 5px 0px 0px #000000;
	text-align: center;
	padding: 8px 0px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	cursor: pointer;
}
.preenchimento {
	transition: width 0.3s 0s ease-out;
}

/* Start */
#cena.start .titulo {
	flex-grow: 1;
}
#cena.start .titulo div {
	font-size: 40px;
	width: 300px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	margin-top: 30%;
}
#cena.start #start-menu {
	font-size: 16px;
}

/* Historia */
#cena.historia #page {
	flex-grow: 1;
	display: flex;
	align-items: center;
}
#cena.historia .titulo {
	font-size: 40px;
	max-width: 300px;
	padding: 10px;
	background-color: #000;
	color: #fff;
}
#cena.historia .titulo_interno {
	font-size: 28px;
	padding: 10px;
	background-color: #000;
	color: #fff;
}
#cena.historia .texto {
	font-size: 18px;
	padding: 40px;
}
#cena.historia .texto span {
	opacity: 0;
}


/* Batalha */
#arena {
	background-color: #ddd;
	padding: 20px;
}
#arena #log {
	height: 200px;
	overflow: scroll;
	background-color: azure;
}
#energia {
	padding: 20px 20px 0;
}
#energia #marcador {
	display: flex;
	border: 1px solid #1ECC6A;
	box-shadow: 5px 5px 0px 0px #1ECC6A;
	height: 12px;
}
#energia #marcador #preenchimento {
	background: #A5EBC3;
	width: 100%;
}
#menuGolpes {	
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 18px;
}
#menuGolpes .botao {
	border: 1px solid #000;
	box-shadow: 5px 5px 0px 0px #000000;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
}
#menuGolpes .botao.ativo {
	background-color: #F8E2FF;
}
#menuGolpes .botao.proibido {
	background-color: #ff9e9e;
}
#menuGolpes .botao div {
	padding: 0 10px 10px;
}
#menuGolpes .botao .nome {
	grid-column: 1 / 3;
	grid-row: 1;
	padding: 10px 10px 5px;
	text-align: center;
}

/* Academia  */
.academia #folego {
	display: flex;
	border-bottom: 1px solid #000;
	padding-bottom: 30px;
	padding: 20px;
}
.academia #folego #indicador {
	flex-grow: 1;
	margin-right: 30px;
}
.academia #folego #marcador {
	display: flex;
	border: 1px solid #1ECC6A;
	box-shadow: 5px 5px 0px 0px #1ECC6A;
	height: 12px;
}
.academia #folego #marcador .preenchimento {
	background: #A5EBC3;
}
.academia .botao {
	border: 1px solid #000;
	box-shadow: 5px 5px 0px 0px #000000;
	text-align: center;
	padding: 8px 0px;
	background-color: #fff;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.academia #atividades {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px 20px;
	padding: 20px;
	border-bottom: 1px solid #000;
}
.academia #atividades .capacidade {
	display: flex;
	border: 1px solid #1ECCCC;
	box-shadow: 5px 5px 0px 0px #1ECCCC;
	height: 8px;
	margin: 8px 0 15px;
}
.academia #atividades .preenchimento {
	background: #A5DFEB;
}
.academia #atividades > div {
	display: grid;
	grid-template-columns: 70px 1fr;
}
.academia #atividades .valores {
	grid-column: 1 / 3;
}
.academia #atividades .capacidade {
	grid-column: 1 / 3;
}
/* Academia - Escola */
.academia #escola {
	padding: 20px;
	display: flex;
	flex-flow: column;
	gap: 20px;
}
.academia #escola > div {
	display: flex;
}
.academia #escola .info {
	flex-grow: 1;
}
.academia #escola .info span {
	font-size: 16px;
}
.academia #escola .botao {
	width: 40%;
}
.academia #escola .aprender_golpe.inativo .botao {
	border-color: #ccc;
	box-shadow: 5px 5px 0px 0px #ccc;
	color: #ccc;
}
.academia #escola .aprender_golpe.aprendido .botao {
	border: 1px solid #fff;
	box-shadow: none;
}